.services {
    background-color: black;
    color: aliceblue;
    padding: 5rem 0;
}

hr {
    height: 2px;
    background-image: linear-gradient(to right, black, white, white, black, black);
    border: none;
}

.myServicesText {
    text-align: center;
}

.myServicesText span {
    color: blueviolet;
}

.servicesIcon {
    color: blueviolet !important;
}

.servicesIcon span {
    border-color: blueviolet !important;
}

/* Service Card Hover Effects */
.service {
    transition: all 0.4s ease;
}

.service:hover {
    transform: scale(1.1);
    background-color: #2e0c4f;
    cursor: pointer;
}

.service:hover .servicesIcon {
    color: aliceblue !important;
}

.service:hover .servicesIcon span {
    border-color: aliceblue !important;
}

.service:hover h5,
.service:hover p {
    color: aliceblue;
}
