.home{
background-image: url('../Images/36e4d0b856694fc471344b644a1dd6e4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.homeTextPart{
    display: flex;
    align-items: center;
    
}
.homeTextPart h3{
   color: blueviolet !important
}
.homeImagePart{
    padding-top: 72px
}
.icons a{
    font-size: 20px;
    padding: 0px 10px;
}
.icons a:hover{
    color: blueviolet;
}
.icons{
    color: aliceblue;
}
.icons :hover{
    background-color: blueviolet;
}
@media screen and (max-width:768px) {
    .home{
        height: auto;
    }
    .homeTextPart{
        text-align: center;
        padding-top: 80px ;
    }
}
@media screen and (min-width:769px) {
   
    .homeImagePart{
        padding-top: 80px ;
    }
}
